<html xmlns="http://www.w3.org/1999/xhtml"	xmlns:th="http://www.thymeleaf.org">

<head></head>

<body>

<th:block th:fragment="include-footer">

	<footer class="footer">
		<div class="container">
		   <span>November 2017</span>
		</div>
	</footer>
	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../lib/html2canvas.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>

	
</th:block>

</body>
</html>